:root {
  /* Базовые стили для всего проекта */
  --mongoose-color: #B19B7C;
  --danger-color: #E84A4A;

  /* Цвета, относящиеся к определенной теме/экрану  */
  --laconic-main-bg: #070E16;
  --laconic-primary-color: #F3F5F8;
  --laconic-indicator-background: #070E16;
  --laconic-secondary-color: #5B646F;

  /* Цвета, относящиеся к определенной теме/экрану  */
  --info-primary-color: #1ED881;
  --info-promary-color-text: #06210F;
  --info--primary-color: #FFFFFF;
  --info-secondary-color: #8892A8;
  --info-secondary-background: #1A2034;
}
