.container {
  gap: 10px;
  flex-direction: column;
}

.container,
.top {
  display: flex;
  justify-content: space-between;
}

.steps {
  display: flex;
  gap: 3px;
}

.top {
  width: 100%;
  align-items: center;
}

.header {
  gap: 10px;
  width: 100%;
}
