.primary {
  --progress-bar-fill: var(--color-progress-active);
  --default: var(--color-progress-track)
}

.secondary {
  --progress-bar-fill: var(--color-progress-active);
  --default: transparent;

  .track:not(.selected) {
    border: 1px solid var(--color-progress-track);
  }

  &.selected {
    --default: var(--color-progress-track)
  }
}

.small {
  height: 6px;
}


.medium {
  height: 8px;
}
