.track {
  border-radius: 999px;
  background-color: var(--progress-track-bg);
}

.fill {
  border-radius: inherit;
  background-color: var(--color-progress-active);
}

.primary {
  --progress-track-bg: var(--color-progress-track);
}

.secondary {
  --progress-track-bg: transparent;
  border: 1px solid var(--color-progress-track);
}

.secondary.selected {
  --progress-track-bg: var(--color-progress-track);
  border-color: transparent;
}

.small {
  height: 6px;
}

.medium {
  height: 8px;
}
