.container {
  margin-top: 42px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  margin-top: 24px;
}

.timer {
  font-size: 166px;
  line-height: 160px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
