.container {
  margin-top: 42px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  margin-top: 24px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
