.button {
  border-radius: 14px;
  border: 2px solid transparent;
  font-weight: bold;
}

.small {
  padding: 22px 30px;
  font-size: 14px;
}

.medium {
  padding: 28px 68px;
  font-size: 17px;
}

.primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.secondary {
  background-color: var(--color-button-secondary-bg);
  border: 2px solid var(--color-button-secondary-border);
  color: var(--color-button-secondary-text);
}
