.button {
  border-radius: 14px;
  border: 2px solid transparent;
}

.small {
  padding: 16px 30px;
  font-size: 14px;
}

.medium {
  padding: 30px 70px;
  font-size: 17px;
}

.primary {
  background-color: var(--info-primary-color);
  color: var(--info-promary-color-text);
}

.secondary {
  background-color: var(--info-secondary-background);
  border-color: #283050;
}

.warning {
  background-color: var(--mongoose-color);
}

.danger {
  background-color: var(--danger-color);
}

.outlined {
  background-color: transparent;

  &.primary {
    border-color: var(--info-primary-color);
  }

  &.secondary {
    border-color: var(--info-secondary-background);
    color: var(--info-promary-color-text);
  }

  &.warning {
    border-color: var(--mongoose-color);
  }

  &.danger {
    border-color: var(--danger-color);
  }
}
