.container {
  --thumb-size: 12px;
  --slider-track-height: 6px;

  width: 100%;
  padding: 0;
}

.rail,
.track {
  height: var(--slider-track-height);
  border: none;
  border-radius: 999px;
}

.rail {
  background-color: var(--color-slider-primary-track);
  opacity: 1;
}

.track {
  background-color: var(--color-slider-primary-fill);
}

.thumb {
  display: none;
}

